body {
    font-family: 'Raleway', sans-serif;
    color: #202020;
}
.top-notif {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  background: #C4DEDB;
}
header {
    background: url('../img/header_large.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 90vh;
}
.logo {
    font-size: 44px;
    font-weight: 800;
    color: #fff;
    padding: 20px;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
}
.call-to-wrapper {
    height: 82vh;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.call-to {
    color: #fff;
    font-weight: 600;
    /* font-size: 44px; */
    /* font-size: 55px; */
    padding: 0 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.call-to button {
    max-width: 200px;
    width: 100%;
    height: 40px;
    background: #4EBFE5;
    border: none;
    font-size: 20px;
     margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    color: #fff;
    font-weight: 600;
}
.call-to button:hover {
    background: rgb(99, 195, 228);
}
.row button {
    width: 100%;
    height: 40px;
    background: #4EBFE5;
    border: none;
    font-size: 20px;
     margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    color: #fff;
    font-weight: 600;
}
.row button:hover {
    background: rgb(99, 195, 228);
}
.call-to .row {
    margin-top: 20px;
}
.triangle {
    content: ' ';
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 100vw solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 80px solid #fff;
    position: relative;
    bottom: 0px;
    left: 0px;
}

section {
    padding: 40px 0;
}
.section-header {
    font-weight: 600;
    text-align: center;
    font-size: 3em;
    padding-bottom: 5vh;
}
.text-center {
    text-align: center;
}

.bg-gray {
    background: #ECE9E8;
}
.max-width {
    padding: 20px;
    /* max-width: 1150px; */
    max-width: 1300px;
    margin: 0 auto;
}
p {
    line-height: 1.6em;
    font-size: 18px;
}
.max-width h5 {
    font-weight: 600;
    font-size: 22px;
}

.card-text h6 {
    font-weight: 600;
    font-size: 3vh;
    margin: 10px auto;
}
.card-body a {
    font-size: 2vh;
    margin: 5px auto;
}
.card-body p {
    font-size: 2vh;
}
.card {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    max-width: 355px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 40vh;
}
.init-img {
    width: 100%;
    height: 200px;
}
.team-img {
    width: 100%;
    height: 150px;
    
}
.init-img {
    max-width:100%;
    max-height:100%;
}
.card-text {
    padding: 10px;
}
.team-item {
    max-width: 355px;
    margin: 15px auto;
}
.team-item .name{
    font-weight: 600;
    font-size: 15px;
}
.team-item .role{
    font-weight: 600;
    font-size: 12px;
}
.team-item-text-wrapper {
    visibility: hidden;
    background: rgba(255,255,255,.7);
    height: 100%;
    padding: 10px;
    text-align: center;
}
.team-item:hover .team-item-text-wrapper {
    visibility: visible;
}
.team-item-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* contact */
.form-group input {
    width: 100%;
    border-radius: 0px;
    outline: none;
    border: 2px solid #CECBC9;
    padding: 8px;
    font-size: 14px;
    color: #202020;
    margin-bottom: 12px;
}

input:hover {
    border: 2px solid #7C7977;
}

input:focus {
    border: 2px solid #4EBFE5;
}
.form-group textarea {
    width: 100%;
    height: 150px;
    border: 2px solid #CECBC9;
    padding: 8px;
    outline: none;
    resize: none;
    font-size: 14px;
}
textarea:hover {
    border: 2px solid #7C7977;
}

textarea:focus {
    border: 2px solid #4EBFE5;
}
.sep-img {
    width: 100%;
    height: 250px;
}

.col-sm-2 {
    display: inline-block;
    float: none;
    vertical-align: top;
     width: 12.5em;
}

.team {
    text-align: center;
    width: 100%;
}

.info {
    font-size: 18px;
}


/* NAVBAR */
.fixed {
    position:fixed;
    width: 100%;
    z-index: 10;
}

.navbar {
    min-height: 6vh;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    position: fixed;
    background: rgba(241, 241, 241, 0.7);
}

.nav-item {
    margin-left: 15px;
}