{% assign member_obj = include.member %}
{% assign all_people = site.data.people.members | concat: site.data.people.alumni | concat: site.data.people.other %}
{% if include.name %}
    {% assign name = member_obj | strip %}
    {% assign member_obj = all_people | where:"name", name | first %}
{% endif %}

{% if member_obj.name %}
    {% assign size = include.size | default: "icon-10" %}
    <div class="{{include.spacing}} animate">
    <div class="{% if include.overlay %} overlay-container shadow-drop shadow--center--soft:hover {%endif%} member border-box {% if member_obj.site != nil and member_obj.site != '' %} clickable {%endif%} {% if include.shadow == false %} flat {% endif %}   ">
            <div class="{% if include.overlay %} member-color rounded--circle {%endif%} row--nowrap align-items-center">
                <a {% if member_obj.site != "" and member_obj.site != nil %} href="{{member_obj.site}}" class="clickable no-decoration" {% else %} class="not-clickable no-decoration" {% endif %} 
                        title="{{ member_obj.name }}" class="no-decoration" target="_blank" {% if include.overlay %} tabindex="-1" {% endif %}>
                    {% assign image_png_name = member_obj.name | replace: " ", "-" | append: ".png" %}
                    {% assign image_webp_name = member_obj.name | replace: " ", "-" | append: ".webp" %}
                    {% assign image_png = site.static_files | where: "name", image_png_name | first %}
                    {% assign image_webp = site.static_files | where: "name", image_webp_name | first %}
                    {% assign image_png_path = image_png.path | default: "/assets/images/members/png/None.png" %}
                    {% assign image_webp_path = image_webp.path | default: "/assets/images/members/webp/None.webp" %}
                    <picture>
                        <source srcset="{{image_webp_path}}" type="image/webp" class="{{size}} rounded--circle" aria-hidden="true">
                        <source srcset="{{image_png_path}}" type="image/png" class="{{size}} rounded--circle" aria-hidden="true"> 
                        <img src="{{image_png_path}}" alt="Picture of {{ member_obj.name }}" class="{{size}} rounded--circle" aria-hidden="true">
                      </picture>
                    {% if include.show_name %}
                        <span class="ml-2">{{ member_obj.name }}</span>
                    {% endif %}
                </a>
            </div>
            {% if include.overlay %}
                <div class="overlay fade-in-out rounded--circle">
                    <a {% if member_obj.site != "" and member_obj.site != nil %} href="{{member_obj.site}}" class="clickable no-decoration" {% else %} class="not-clickable no-decoration" {% endif %} 
                        title="{{ member_obj.name }}" class="no-decoration" target="_blank">
                        <div class="column shadow-text-dark h-full w-full justify-center align-content-center align-items-center">
                            <h4 class="light font-height-normal text-center my-2@md-above my-1@sm-below mx-4 font-body@md-below">{{ member_obj.name }}</h4>
                            <div class="mx-2 my-2@md-above my-1@sm-below">
                                <p class="font-bold ma-0 light font-caption@md-below">{{ member_obj.title }}</p>
                                <small class="font-bold@lg-above font-semibold@md-below font-italic light">{{ member_obj.class }}</small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}