<div>
    <header class="column justify-center align-content-center align-items-center bg-primary px-5/100 shadow-drop" role="banner">
        <div class="row align-content-center align-items-center justify-between">
            <div class="column grow-0 align-content-center">
                <a href="{{ '/' | relative_url }}" title="Purdue USB Homepage" class="page-link">
                    <img class="icon-21" src="/assets/images/logos/wordmark/dark_mono_nobg_small.webp" alt="Purdue USB Logo"/>
                </a>
            </div>

            {%- include nav/navmenu.html classes="mb-0 font-h4" dark=true -%}
        </div>
    </header>
    {%- include components/announcement.html -%}
</div>