<div>
    <header class="column justify-center align-content-center align-items-center bg-primary px-1-20 shadow-drop" role="banner">
        <div class="row align-content-center align-items-center justify-between">
            <div class="column grow-0 align-content-center">
                <a href="{{ "/" | relative_url }}">
                    <img class="icon-21" src="/assets/images/logos/wordmark/dark_mono_nobg.svg" />
                </a>
            </div>

            {%- include nav/navmenu.html -%}
        </div>
        {%- include nav/navmenu_mobile.html -%}
    </header>
    {%- include components/announcement.html -%}
</div>