{% assign color = "light" %}
{% if include.light == nil or include.light == false or include.dark == true %}
    {% assign color = "dark" %}
{% endif %}

<nav class="site-nav column align-content-center align-items-end">
    <div class="none@md-below row--nowrap grow-2 align-items-center">
        <div class="trigger row--nowrap justify-end margin-list">
            {%- include nav/header_links.html classes=include.classes color=color -%}
        </div>
        {% if include.social == true %}
            <div class="row--nowrap none@lg-below {{color}} ml-6 margin-list">
                {%- include components/social.html color=color -%}
            </div>
        {% endif %}
    </div>
</nav>