<div class="fab none@lg-above inline@md-below sticky@md-below bottom-8@md-below right-2@md-below">
    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
        <label class="menu-open-button column justify-center align-items-center" for="menu-open" title="main menu">
          <span class="hamburger hamburger-top"></span>
          <span class="hamburger hamburger-middle"></span>
          <span class="hamburger hamburger-bottom"></span>
        </label>
        
        {%- include nav/header_links.html classes="pa-1 inline font-h4" color=dark fab=true -%}
    </nav>
</div>
