{% assign color = "light" %}
{% if include.light == nil or include.light == false or include.dark == true %}
    {% assign color = "dark" %}
{% endif %}

<nav class="animate column grow-1">
    <div class="row--nowrap justify-end align-items-center">
        <div class="none@md-below trigger row--nowrap justify-end margin-list">
            {%- include nav/header_links.html classes=include.classes color=color -%}
        </div>
        {% if include.social == true %}
            <div class="row--nowrap w-auto@lg-above {{color}} ml-8@lg-above justify-end@lg-above justify-center@md justify-center@sm justify-start@xs">
                {%- include components/social.html color=color -%}
            </div>
        {% endif %}
    </div>
</nav>