<aside class="card py-2">
    <div id="sidebar" class="px-3">
        <h4 class="text-center">Student Resources</h4>
        <p class="text-justify mb-2">Contains locally sourced, organic wisdom. Shared by the student body, curated by USB.</p>
        <div class="input row--nowrap mb-1 align-items-baseline">
            <i class="fa fa-search icon-0 my-1 ml-1 grey" aria-hidden="true"></i>
            <input type="text" name="Search" id="search" placeholder="Search..." class="border-none w-full pa-1">
        </div>
        {%- if site.wiki.size > 0 -%}
            {%- for post in site.wiki -%}
                {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                <a href="{{ post.url | relative_url }}">
                    <!--<span>{{ post.date | date: date_format }}</span>-->
                    {{ window.hash }}
                    <div {% if post.slug == hash %}id="active" {% endif %} class="py-1 rounded active--hover">
                        <p class="font-bold mb-0">{{ post.title | escape }}</p>
                        <p class="dark font-normal mb-0">{{ post.description }}</p>
                    </div>
                </a>
            {%- endfor -%}
        {%- endif -%}
    </div>
</aside>
