<aside id="sidebar" class="card pt-4 pb-2 px-6 column h-full">
    <h4 class="text-center mb-2">Student Wiki</h4>
    <div class="row justify-center grow-0">
        <p class="caption mb-6 w-3/4">Contains locally sourced, organic wisdom. Shared by the student body, curated by USB.</p>
    </div>
    
    <div class="input row--nowrap grow-0 align-items-baseline">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" name="Search" id="search" placeholder="Search..." class="border-none w-full pa-1 bg-none">
    </div>

    <div id="wiki-list" class="overflow-y-scroll overflow-x-visible">
        {%- if site.wiki.size > 0 -%}
            <div id="wiki-items" class="column{% if include.limit_height %} h-max-72@xs {% else %} h-full {% endif %}">
                {%- for post in site.wiki -%}
                    {% unless forloop.first %}
                        <div class="divider--horizontal bg-grey-light"></div>
                    {% endunless %}
                    <a href="{{ post.url | relative_url }}" class="no-decoration" target="_self">
                        {% assign active_slug = page.url | split:'/' | last %}
                        <div {% if post.slug == active_slug %}id="active" {% endif %} class="py-4 px-2 rounded active--hover animate-fast">
                            <p class="font-bold mb-1 post-title">{{ post.title }}</p>
                            <p class="dark font-normal mb-0 post-description">{{ post.description }}</p>
                        </div>
                    </a>
                {%- endfor -%}
            </div>
            <div id="search-results" class="column overflow-scroll {% if include.limit_height %} h-max-72@xs {% else %} h-full {% endif %} none">
                <!-- To be filled by JS -->
            </div>
            <div id="no-search-results" class="none column align-items-center mb-2 mt-4">
                <h4 class="font-medium text-center">No results found for <q id="search-query-term" class="font-semibold font-italic"></q></h4>
                <small><b>Tip:</b> Read about how to <a href="/wiki/searching-our-wiki">optimize your search</a>.</small>
            </div>
        {% else %}
            <h4 class="font-medium text-center">There's nothing here</h4>
        {%- endif -%}
    </div>
</aside>

<script src="{{ '/assets/scripts/searchbar.js' | cachetag }}"></script>
