/* CSS for base common theme */

/**
 * Reset some basic elements
 */
html {
    font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html, body {
    @extend .h-full;
}

main {
    @extend .flex;
}


/**
 * Basic styling
 */
body {
    @include font-body;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern"1;
    -moz-font-feature-settings: "kern"1;
    -o-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    display: flex;
    min-height: 100vh;
    @extend .column;
}

* {
    scrollbar-width: thin;
    /* "auto" or "thin"  */
    scrollbar-color: $scrollbar-foreground $scrollbar-background;
    /* scroll thumb & track */
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color: $scrollbar-background;
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar-foreground;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    @extend .rounded;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    @extend .font-caption;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul, > ol {
        @extend .mb-0;
    }
}


/**
 * Fonts: headings, body elements, weights
 */
h1, h2, h3, .header {
    @include font-header;
    line-height: $base-line-height;
}

h1, h2, h3 {
    @include shadow-text;
}

h1, h3, h4, button, .button {
    @extend .font-bold;
}

body, h2, p, blockquote,
pre, li, ul, ol, dl, data, input, .medium {
    @extend .font-medium;
}

h4, h5, h6, body, p, a, blockquote, pre,
code, span, li, ul, ol, dl, data, input,
caption, button, .caption, .button, .body {
    @include font-body;
}

h1 {
    @extend .font-h1;
}

h2 {
    @extend .font-h2;
}

h3 {
    @extend .font-h3;
}

h4 {
    @extend .font-h4;
}

li,
ul,
ol {
    @extend .font-listitem;
}

caption,
.caption,
small {
    @extend .font-caption;
}

svg path {
    fill: currentcolor;
}


/**
 * Links
 */
a {
    @extend .blue;
    text-decoration: none;
    @include shadow-drop;

    &:visited {
        @extend .purple;
    }

    &>*:hover {
        //color: $text-color;
        //text-decoration: underline;
    }

    .social-media-list &:hover {
        text-decoration: none;

        .username {
            text-decoration: underline;
        }
    }
}


/**
 * Blockquotes TODO
 */
blockquote {
    @extend .grey;
    @extend .font-italic;
    border-left: 4px solid $accent-grey-light;
    padding-left: $spacing-unit / 2;
    letter-spacing: -1px;

    > :last-child {
        @extend .mb-0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    border: 1px solid $accent-grey-light;
    border-radius: 3px;
    @extend .bg-grey-light;
}

code {
    // TODO check this
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    >code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Clearfix
 */
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}



/**
 * Icons
 */

.svg-icon {
    @extend .icon-0;
    /*@include media-query($on-mobile) {
        @extend .pa-1 // needs mixins for this
    }*/
    @extend .fill-grey-light;

    &:hover {
        @extend .fill-light;
    }
}


/**
 * Tables
 */
table {
    margin-bottom: $spacing-unit;
    width: 100%;
    text-align: $table-text-align;
    color: lighten($text-color, 18%);
    border-collapse: collapse;
    border: 1px solid $accent-grey-light;

    tr {
        &:nth-child(even) {
            background-color: lighten($accent-grey-light, 6%);
        }
    }

    th,
    td {
        padding: ($spacing-unit / 3) ($spacing-unit / 2);
    }

    th {
        background-color: lighten($accent-grey-light, 3%);
        border: 1px solid darken($accent-grey-light, 4%);
        border-bottom-color: darken($accent-grey-light, 12%);
    }

    td {
        border: 1px solid $accent-grey-light;
    }
}


/* Buttons */
button,
.button {
    @include font-button;
    min-height: 60px;
    @extend .bg-primary, .clickable, .shadow-box, .rounded, .no-decoration;
    @include px($padding-button-x);
    @include py($padding-button-y);
    border: none;

    &--outline {
        @extend .button, .light, .bg-transparent;
        @include border($background-light, $border-width);

        &--dark {
            @extend .button--outline, .dark, .border-dark;
        }
    }

    /*&:hover {   // breaks outline style
    @extend .button;
    text-decoration: none;
    background-color: lighten($primary-color, 5%);
  }*/
}

// TODO make more general
.border-dark {
    border-color: $background-dark;
}