/* CSS for base common theme */

/**
 * Reset some basic elements
 */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html, body {
    @extend .h-full;
    min-height: 100%;
}

main {
    overflow-anchor: none;
}


/**
 * Basic styling
 */
body {
    @include font-body;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern"1;
    -moz-font-feature-settings: "kern"1;
    -o-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    display: flex;
    min-height: 100vh;
    @extend .column;
}

[display="none"] {
    margin: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

::selection {
    @extend .bg-primary-light, .dark;
}

* {
    scrollbar-width: thin;
    /* "auto" or "thin"  */
    scrollbar-color: $scrollbar-foreground $scrollbar-background;
    /* scroll thumb & track */
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color: $scrollbar-background;
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar-foreground;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    @extend .rounded;
}

::-webkit-resizer {
    background: linear-gradient(-45deg, $accent-grey-light, $accent-grey-light 45%, white 45%, white);
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: spacing-group(1);
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    @extend .font-caption;
}



/**
 * Lists
 */
ul, ol {
    margin-left: spacing-group(1);
}

li {
    > ul, > ol {
        @extend .mb-0;
    }
}


/**
 * Fonts: headings, body elements, weights
 */
h1, h2, h3, .header, button, .button {
    @include font-header;
    line-height: $base-line-height;
}

h1, h2, h3 {
    @include shadow-text;
}

h1, h3, h4, button, .button, input[type="submit"] {
    @extend .font-bold;
}

a, a * {
    @extend .font-semibold;
}

body, h2, p, blockquote, pre, li, ul,
ol, dl, data, input, .medium {
    @extend .font-medium;
}

h4, h5, h6, body, p, a, blockquote, pre, textarea,
code, span, li, ul, ol, dl, data, input,
caption, .caption, .body {
    @include font-body;
}

h1 {
    @extend .font-h1;
}

h2 {
    @extend .font-h2;
}

h3 {
    @extend .font-h3;
}

h4 {
    @extend .font-h4;
}

button, .button, input[type="submit"] {
    @extend .font-button;
}

li, ul, ol {
    @extend .font-listitem;
}

body, p, a, blockquote, pre, textarea,
code, span, li, ul, ol, dl, data, input, .body {
    @extend .font-body;
}

caption, .caption, small, small * {
    @extend .font-caption;
}

%input-focus {
    &:focus {
        outline: none;  /* IMPORTANT Massive accessibility issue! Keep border! */
        border-color: $focus-color !important;
    }
}

form textarea, form input, .input {
    border-style: solid;
    @extend .pa-1, .rounded--slight, .border-thin, .border-grey-light, %input-focus;
}

.input {
    padding: 0;
}

.input > input {
    outline: none;
    @extend %input-focus;
}


svg path {
    fill: currentcolor;
}

::placeholder {
    opacity: 1; /* Firefox */
    @extend .hint;
}

form {
    label {
        @extend .caption, .uppercase, .font-semibold;
        color: $text-color-hint !important;

        &.required span {
            @extend .font-h4, .red;
            vertical-align: middle;
        }
    }
}

textarea {
    resize: vertical;
}


/**
 * Links
 */
a:not(.button) {
    @extend .blue-dark;
    text-decoration: none;

    &:visited {
        @extend .purple-dark;
    }

    &:hover {
        text-decoration: underline;
    }

    .social-media-list &:hover {
        text-decoration: none;

        .username {
            text-decoration: underline;
        }
    }
}


/**
 * Blockquotes TODO
 */
blockquote {
    @extend .rounded--slight;
    border-left: $border-width solid $accent-grey-light;
    padding-left: spacing-group(1);
    letter-spacing: -1px;

    > :last-child {
        @extend .mb-0;
    }
}

blockquote, blockquote p {
    @extend .grey;
    color: grey;
    @extend .font-italic;
}



/**
 * Code formatting
 */
pre, code {
    border: 1px solid $accent-grey-light;
    border-radius: 3px;
    @extend .bg-grey-light;
}

code {
    // TODO check this
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    >code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Clearfix
 */
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}



/**
 * Icons
 */

.svg-icon {
    @extend .icon-0;
    /*@include media-query($on-mobile) {
        @extend .pa-1 // needs mixins for this
    }*/
    @extend .fill-grey-light;

    &:hover {
        @extend .fill-light;
    }
}


/**
 * Tables
 */
table {
    margin-bottom: spacing-group(1);
    width: 100%;
    text-align: $table-text-align;
    color: lighten($text-color, 18%);
    border-collapse: collapse;
    border: 1px solid $accent-grey-light;

    tr {
        &:nth-child(even) {
            background-color: lighten($accent-grey-light, 6%);
        }
    }

    th,
    td {
        padding: ($spacing-unit / 3) ($spacing-unit / 2);
    }

    th {
        background-color: lighten($accent-grey-light, 3%);
        border: 1px solid darken($accent-grey-light, 4%);
        border-bottom-color: darken($accent-grey-light, 12%);
    }

    td {
        border: 1px solid $accent-grey-light;
    }
}


/* Buttons */
button, .button, input[type="submit"] {
    @extend .bg-primary, .border-none, .clickable, .shadow-drop, .rounded, .no-decoration, .animate, %button-focus;
    @include px($padding-button-x);
    @include py($padding-button-y);

    &--outline, &.--outline {
        &, &-light {
            @extend .light, .bg-none, .border, .border-light, %button-focus--outline;
        }

        &-dark {
            @extend .bg-none, .border, .dark, .border-dark, %button-focus--outline-dark;
        }
    }
}

%button-focus {
    &--outline {
        &:focus {
            outline: none;  /* IMPORTANT Massive accessibility issue! Keep border! */
            @extend .primary, .border-none, .border-primary, .bg-transparent;
        }
        &-dark {
            &:focus {
                outline: none;  /* IMPORTANT Massive accessibility issue! Keep border! */
                @extend .primary, .bg-dark, .border-none, .border-transparent;
            }
        }
    }
    &:focus {
        outline: none;  /* IMPORTANT Massive accessibility issue! Keep border! */
        @extend .bg-grey, .primary, .border-none, .border-primary;
    }
}

%focus {
    &:focus {
        outline: none;  /* IMPORTANT Massive accessibility issue! Keep border! */
        @extend .focus-color, .border-thin, .border-focus-color;
        @extend .shadow-text;
    }
}

a img {
    @extend %focus;
}

input[disabled], button[disabled] {
    background-color: $accent-grey-light !important;
    color: $accent-grey !important;
    border: none !important;
} 


.anchorjs-link {
    transition: all .25s linear;
}
*:hover > .anchorjs-link {
    margin-left: -1.125em !important;
}