/* CSS for base common theme */

/**
 * Reset some basic elements
 */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, hr, dl, dd, ol, ul, figure {
    @extend .ma-0, .pa-0;
}

html, body {
    @extend .h-full;
    min-height: 100%;
}

main {
    overflow-anchor: none;
}


/**
 * Basic styling
 */
body {
    @include font-body;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern"1;
    -moz-font-feature-settings: "kern"1;
    -o-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    display: flex;
    min-height: 100vh;
    @extend .column;
}

[display="none"] {
    margin: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    max-height: 0 !important;
    max-width: 0 !important;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $margin-bottom-default;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    @extend .font-caption;
}



/**
 * Lists
 */
ul, ol {
    @extend .ml-2;
}

li {
    > ul, > ol {
        @extend .mb-0;
    }
}


/**
 * Fonts: headings, body elements, weights
 */
h1, h2, h3, .header, button, .button {
    @include font-header;
    @extend .font--height-normal;
}

h1, h2, h3 {
    @include shadow-text;
}

h1, h3, h4, button, .button, input[type="submit"] {
    @extend .font-bold;
}

a, a * {
    @extend .font-semibold;
}

body, h2, p, blockquote, pre, li, ul,
ol, dl, data, input, .medium {
    @extend .font-medium;
    line-height: 1.2;
}

h4, h5, h6, body, p, a, blockquote, pre, textarea,
code, span, li, ul, ol, dl, data, input,
caption, .caption, .body {
    @include font-body;
}

h1 {
    @extend .font-h1;
}

h2 {
    @extend .font-h2;
}

h3 {
    @extend .font-h3;
}

h4 {
    @extend .font-h4;
}

button, .button, input[type="submit"] {
    @extend .font-button;
}

li, ul, ol {
    @extend .font-listitem;
}

body, p, a, blockquote, pre, textarea,
code, span, li, ul, ol, dl, data, input, .body {
    @extend .font-body;
}

caption, .caption, small, small * {
    @extend .font-caption;
}

%input-focus {
    &:focus {
        outline: none;  /* IMPORTANT Massive accessibility issue! Keep border! */
        border-color: $focus-color !important;
    }
}

form textarea, form input:not([type="submit"]), .input {
    border-style: solid;
    @extend .pa-3, .rounded--less, .border-thin, .border-grey-light, %input-focus;
}

.input {
    padding: 0;
}

.input > input {
    outline: none;
    @extend %input-focus;
}


svg path {
    fill: currentcolor;
}

::placeholder {
    opacity: 1; /* Firefox */
    @extend .hint;
}

form {
    label {
        @extend .caption, .uppercase, .font-semibold;
        color: $text-color-hint !important;

        &.required span {
            @extend .font-h4, .red;
            vertical-align: middle;
        }
    }
}

textarea {
    resize: vertical;
}


/**
 * Links
 */
a:not(.button) {
    @extend .blue-dark, .hover--underline;
    text-decoration: none;

    &:visited {
        @extend .purple-dark;
    }

    .social-media-list &:hover {
        text-decoration: none;

        .username {
            text-decoration: underline;
        }
    }
}


/**
 * Blockquotes TODO
 */
blockquote {
    @extend .rounded--less, .animate-fast;
    border-left: $border-width solid $accent-grey-light;
    padding-left: spacing-group(1);
    letter-spacing: -1px;

    > :last-child {
        @extend .mb-0;
    }

    &:hover {
        @extend .border-accent;
    }
}

blockquote, blockquote p {
    @extend .grey-dark, .font-italic;
}



/**
 * Tables TODO this has not been styled - no use case yet
 */
table {
    @extend .mb-3, .w-full;
    text-align: $table-text-align;
    border-collapse: collapse;
    border: 1px solid $accent-grey-light;

    tr {
        &:nth-child(even) {
            background-color: lighten($accent-grey-light, 6%);
        }
    }

    th,
    td {
        padding: ($spacing-unit / 3) ($spacing-unit / 2);
    }

    th {
        background-color: lighten($accent-grey-light, 3%);
        border: 1px solid darken($accent-grey-light, 4%);
        border-bottom-color: darken($accent-grey-light, 12%);
    }

    td {
        border: 1px solid $accent-grey-light;
    }
}


/* Buttons */
button, .button, input[type="submit"] {
    @extend .bg-primary, .border-none, .clickable, .shadow-drop, .rounded, .no-decoration, .animate, %button-focus;
    @include px($padding-button-x);
    @include py($padding-button-y);

    &--outline, &.--outline {
        &, &-light {
            @extend .light, .bg-none, .border, .border-light, %button-focus--outline;
        }

        &-dark {
            @extend .bg-none, .border, .dark, .border-dark, %button-focus--outline-dark;
        }
    }
}

%button-focus {
    &--outline {
        &:focus {
            outline: none;  /* IMPORTANT Massive accessibility issue! Keep border! */
            @extend .dark, .border-light, .bg-light;
        }
        &-dark {
            &:focus {
                outline: none;  /* IMPORTANT Massive accessibility issue! Keep border! */
                @extend .light, .bg-dark, .border-dark;
            }
        }
    }
    &:focus {
        outline: none;  /* IMPORTANT Massive accessibility issue! Keep border! */
        @extend .bg-dark, .primary, .border, .border-primary;
    }
}

%focus {
    &:focus {
        outline: none;  /* IMPORTANT Massive accessibility issue! Keep border! */
        @extend .focus-color, .border-thin, .border-focus-color;
        @extend .shadow-text;
    }
}

a img {
    @extend %focus;
}

input[disabled], button[disabled] {
    background-color: $accent-grey-light !important;
    color: $accent-grey !important;
    border: none !important;
} 

input {
    & + label {
        .expand {
            display: initial;
        }
        .collapse {
            display: none;
        }
    }

    &:checked + label{
        .expand {
            display: none;
        }
        .collapse {
            display: initial;
        }

        &.menu-button-rotate, .menu-button-rotate {
            transform: rotate(360deg);
            &270 {
                transform: rotate(270deg);
            }
            &180 {
                transform: rotate(180deg);
            }
            &90 {
                transform: rotate(90deg);
            }
        }
    }
}



.anchorjs-link {
    transition: all .25s linear;
}
*:hover > .anchorjs-link {
    margin-left: -1.125em !important;
}


/**
 * Syntax highlighting styles
 */

.hljs {
    @extend .bg-dark;
}

:not(pre) {
    > code.hljs, > code {
        @include pa(spacing-group(4/3));
        @extend .rounded, .inline;
    }
 }

pre {
    @extend .rounded;

    > code, > .hljs {
        @extend .rounded;
        @include pa(spacing-group(4));
    }
}
