/* CSS for general site layout */

.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;
  grid-area: head;
  @include shadow-drop;
}

.site-nav {
  transition: $animation-fade-time;
  .nav-trigger, .menu-icon {
      display: none;
  }

  .page-link * {
    @include font-semibold;
    @include my(0);
    @extend .no-decoration;
    &:hover {
      @include font-bold;
    }
  }

  @include media-query-below($screen-medium) {

    label[for="nav-trigger"] {
      width: 2rem;
      height: 2rem;
    }

    input ~ .trigger {
      display: none;
    }

    input:checked ~ .trigger {
      display: inline-block;
    }

    .menu-icon {
      > img {
        fill: $text-color;
        color: $text-color
      }
    }
  }
}


.post-title {
  letter-spacing: -1px;
  line-height: 1;
}

.divider {
    &--horizontal {
        @extend .w-full;
        @extend .bg-primary;
        height: 1px;
    }
}
