/* CSS for general site layout */

::selection {
    @extend .bg-primary-light, .dark;
}

/* Scrollbar Styles */
* {
    scrollbar-width: thin;
    /* "auto" or "thin"  */
    scrollbar-color: $scrollbar-foreground $scrollbar-background;
    /* scroll thumb & track */
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color: $scrollbar-background;
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar-foreground;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    @extend .rounded--more;
}

::-webkit-resizer {
    background: linear-gradient(-45deg, $accent-grey-light, $accent-grey-light 45%, white 45%, white);
}

footer {
    margin-top: auto;
}

.page-link {
    @extend .no-decoration, .animate-fast;

    & * {
        @include font-semibold;
        @include my(0);
        @extend .hover--bold;
    }
}


.divider, hr {
    &, &--horizontal {
        @extend .w-full, .bg-primary, .h-px;
    }

    &--vertical {
        @extend .h-full, .bg-primary, .w-px;
    }
}

.sticky {
    @include screen-variant() {
        position: -webkit-sticky;
        position: sticky;
    }
}

.fab {
    margin-left: auto;
    order: 2;
    z-index: 9999;
    width: auto;
    height: auto;
    text-align:left;
}


/* Credit: https://codepen.io/lbebber/pen/pvwZJp */
// Sorry this is so ugly! Very WIP, animations aren't really working
$menu-items: 4;
$open-distance: 80px;
$open-distance-mobile: 18vh;

%ball{
    @extend .bg-accent, .light, .text-center, .animate;
    $height: 55px;
    width:  $height;
    height: $height;
    margin-left: -20px;
    position: absolute;
    line-height: $height;
    transform:  translate3d(0,0,0);
}
.menu-check, .nav-item{
    display: none;
}
.nav-item{
    @extend %ball, .rounded--more, .shadow-drop;
    width: auto;
    right: 10px;
}
.hamburger{
    @extend .block, .bg-dark, .icon-square-1, .px-3, .rounded--more;
    height: $border-width;
    transition: transform 200ms;

    $hamburger-spacing: spacing-group(2);
    &-top {
        transform:  translate3d(0, -$border-width * 1.5, 0);
    }
    &-middle {
        transform:  translate3d(0, 0, 0);
    }
    &-bottom {
        transform:  translate3d(0, $border-width * 1.5, 0);
    }
}

// Menu is open
.menu-check:checked+.menu-check-button {
    .hamburger-top{
        transform: translate3d(0 ,$border-width, 0) rotate(45deg); 
    }
    .hamburger-middle{
        transform: translate3d(0, 0, 0) scale(0.1, 1);
    }
    .hamburger-bottom{
        transform: translate3d(0, -$border-width, 0) rotate(-45deg); 
    }
}

.menu{
    margin-left: -3.125rem;
}


.nav-item{
    @extend .shadow--center--soft\:hover, .text-right;
    @for $i from 1 through $menu-items{
        &:nth-child(#{$i + 2}){
            transition-duration: 180ms;
        }
    }
}

.menu-check-button{
    @extend %ball, .clickable, .rounded--circle;
    z-index:2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1,1.1) translate3d(0,0,0);
}
.menu-check-button:hover{
    transform: scale(1.2,1.2) translate3d(0,0,0);
    @extend .shadow--center--soft;
}
.menu-check:checked+.menu-check-button{
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.9,0.9) translate3d(0,0,0);
}

.menu-check:checked~.nav-item{
    display: initial;
    transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    @for $i from 1 through $menu-items{ 
        &:nth-child(#{$i+2}){
            transition-duration: 90ms+(100ms*$i);
            @media (min-aspect-ratio: 890/400) { 
                transform: translate3d(0,-$open-distance-mobile * $i,0);
            }
            @media (max-aspect-ratio: 891/400) { 
                transform: translate3d(0,-$open-distance * $i,0);
            }
        }
    }
}


.section {
    &-title {
        @extend .py-10, .mb-0, .text-center;
    }
}

.anchorjs-link {
    color: $text-color;
    &:hover {
        color: $accent-red;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $background-color inset !important;
    box-shadow: 0 0 0 30px $background-color inset !important;
}
