/* CSS for general site layout */

.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
    grid-area: head;
    @include shadow-drop;
}

.site-nav {
    transition: $animation-fade-time;
}

.page-link {
    @extend .no-decoration;

    & * {
        @include font-semibold;
        @include my(0);
        &:hover {
            @include font-bold;
        }
    }
}


.divider {
    &--horizontal {
        @extend .w-full, .bg-primary, .h-px;
    }

    &--vertical {
        @extend .h-full, .bg-primary, .w-px;
    }
}

.sticky {
    @include screen-variant() {
        position: -webkit-sticky;
        position: sticky;
        top: spacing-group(5);
    }
}

.fab {
    margin-left: auto;
    order: 2;
    z-index: 9999;
    width: auto;
    height: auto;
    text-align:left;
}


/* Credit: https://codepen.io/lbebber/pen/pvwZJp */
// Sorry this is so ugly! Very WIP, animations aren't working
$menu-items:4;
$open-distance:105px;

%ball{
    @extend .bg-primary, .light, .text-center;
    $height: 80px;
    width:  $height;
    height: $height;
    margin-left: -40px;
    position: absolute;
    line-height: $height;
    transform:  translate3d(0,0,0);
    transition: transform ease-out 200ms;
}
.menu-open, .menu-item{
    display:none;
}
.menu-item{
    @extend %ball;
    @extend .rounded--more;
    width: auto;
    right: 0;
}
.hamburger{
    @extend .block, .bg-dark, .icon-square-2, .px-2, .rounded;
    height: $border-width;
    transition: transform 200ms;

    $hamburger-spacing: spacing-group(0);
    &-top {
        transform:  translate3d(0, -$hamburger-spacing, 0);
    }
    &-middle {
        transform:  translate3d(0, 0, 0);
    }
    &-bottom {
        transform:  translate3d(0, $hamburger-spacing, 0);
    }
}

// Menu is open
.menu-open:checked+.menu-open-button{
    .hamburger-top{
        transform: translate3d(0 ,$border-width, 0) rotate(45deg); 
    }
    .hamburger-middle{
        transform: translate3d(0, 0, 0) scale(0.1, 1);
    }
    .hamburger-bottom{
        transform: translate3d(0, -$border-width, 0) rotate(-45deg); 
    }
}

.menu{
    margin-left: -3.125rem;
}


.menu-item{
    text-align: right;
    &:hover{
        @extend .bg-primary-light, .shadow--center--soft;
    }
    @for $i from 1 through $menu-items{
        &:nth-child(#{$i + 2}){
            transition-duration: 180ms;
        }
    }
}

.menu-open-button{
    @extend %ball, .clickable, .rounded--circle;
    z-index:2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-duration: 400ms;
    transform:s cale(1.1,1.1) translate3d(0,0,0);
}
.menu-open-button:hover{
    transform: scale(1.2,1.2) translate3d(0,0,0);
    @extend .shadow--center--soft;
}
.menu-open:checked+.menu-open-button{
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8,0.8) translate3d(0,0,0);
}

.menu-open:checked~.menu-item{
    display: initial;
    transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    @for $i from 1 through $menu-items{

        &:nth-child(#{$i+2}){
        transition-duration: 90ms+(100ms*$i);
        transform: translate3d(0,-110px*$i,0);
        }
    }
}
