/* Font Mixins */
@mixin font-base {
  color: $text-color;
}

@mixin font-body {
  @include font-base;
  font-family: $font-family-body;
}

@mixin font-header {
  @include font-base;
  font-family: $font-family-header;
}

@mixin font-normal {
  font-weight: $font-weight-base;
}

@mixin font-medium {
  font-weight: $font-weight-medium;
}

@mixin font-semibold {
  font-weight: $font-weight-semibold;
}

@mixin font-bold {
  font-weight: $font-weight-bold;
}

@mixin rounded($radius) {
  border-radius: $radius;
}

@mixin border($color, $width) {
  border: $width solid $color;
}

@mixin shadow-box {
  box-shadow: $default-shadow;
}

@mixin shadow-text {
  text-shadow: $default-shadow;
}

@mixin justify($arg) {
  justify-content: $arg;
}

@mixin align($arg) {
  align-content: $arg;
}

@mixin clickable {
  cursor: pointer;
}


/* Sizing mixins */
/* Use media queries like this:
@include media-query($on-palm) {
  .wrapper {
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}
*/
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  //font-size: $base-font-size * $ratio;
  // TODO get rid of this
}


/* Spacing Mixins */
// Paddings
@mixin p-bottom($space) {
  padding-bottom: $space * $padding-unit;
}

@mixin p-top($space) {
  padding-top: $space * $padding-unit;
}

@mixin py($space) {
  @include p-top($space);
  @include p-bottom($space);
}

@mixin p-left($space) {
  padding-left: $space * $padding-unit;
}

@mixin p-right($space) {
  padding-right: $space * $padding-unit;
}

@mixin px($space) {
  @include p-left($space);
  @include p-right($space);
}

@mixin pa($space) {
  @include px($space);
  @include py($space);
}
// Margins
@mixin m-bottom($space) {
  margin-bottom: $space * $margin-unit;
}

@mixin m-top($space) {
  margin-top: $space * $margin-unit;
}

@mixin my($space) {
  @include m-top($space);
  @include m-bottom($space);
}

@mixin m-left($space) {
  margin-left: $space * $margin-unit;
}

@mixin m-right($space) {
  margin-right: $space * $margin-unit;
}

@mixin mx($space) {
  @include m-left($space);
  @include m-right($space);
}

@mixin ma($space) {
  @include mx($space);
  @include my($space);
}