/* Credit: https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/ */
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*16}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}
/* Credit: https://css-tricks.com/snippets/sass/power-function/ */
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: calc($value * $number);
    }
  }

  @return $value;
}

/* Font Mixins */
@mixin font-base {
  color: $text-color;
}

@mixin font-body {
  @include font-base;
  font-family: $font-family-body;
}

@mixin font-header {
  @include font-base;
  font-family: $font-family-header;
}

@mixin font-normal {
  font-weight: $font-weight-base;
}

@mixin font-medium {
  font-weight: $font-weight-medium;
}

@mixin font-semibold {
  font-weight: $font-weight-semibold;
}

@mixin font-bold {
  font-weight: $font-weight-bold;
}

@mixin font-button {
  @include font-bold;
  @include font-header;
  font-size: $font-size-button;
}

@mixin rounded($radius) {
  border-radius: $radius;
}

@mixin border($color, $width) {
  border: $width solid $color;
}

@mixin shadow-box {
  box-shadow: $default-shadow;
}

@mixin shadow-text {
  text-shadow: $default-shadow;
}

@mixin justify($arg) {
  justify-content: $arg;
}

@mixin clickable {
  cursor: pointer;
}

@mixin flex-even {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}


/* Sizing mixins */
/* Use media queries like this:
@include media-query($on-palm) {
  .wrapper {
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}
*/
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  //font-size: $base-font-size * $ratio;
  // TODO get rid of this
}


/* Spacing Mixins */
// Paddings
@mixin p-bottom($index) {
  @include property-spacing(padding-bottom, $index);
}

@mixin p-top($index) {
  @include property-spacing(padding-top, $index);
}

@mixin py($index) {
  @include p-top($index);
  @include p-bottom($index);
}

@mixin p-left($index) {
  @include property-spacing(padding-left, $index);
}

@mixin p-right($index) {
  @include property-spacing(padding-right, $index);
}

@mixin px($index) {
  @include p-left($index);
  @include p-right($index);
}

@mixin pa($index) {
  @include px($index);
  @include py($index);
}
// Margins
@mixin m-bottom($index) {
  @include property-spacing(margin-bottom, $index);
}

@mixin m-top($index) {
  @include property-spacing(margin-top, $index);
}

@mixin my($index) {
  @include m-top($index);
  @include m-bottom($index);
}

@mixin m-left($index) {
  @include property-spacing(margin-left, $index);
}

@mixin m-right($index) {
  @include property-spacing(margin-right, $index);
}

@mixin mx($index) {
  @include m-left($index);
  @include m-right($index);
}

@mixin ma($index) {
  @include mx($index);
  @include my($index);
}

@mixin property-spacing($property, $index) {
  #{$property}: list.nth($spacing-sizes, $index);
}