<div>
    <div>
        <div id="rectangle">
            <div id="rectangle-text">
                <h2>Our Mission</h2>
                <p>The Computer Science Undergraduate Student Board exists to promote a supportive and engaged community
                    within Purdue’s Computer Science Department, and to use its relationship with faculty, the Computer
                    Science Corporate Partners Program, and administration to advocate for the student body.</p>
            </div>
        </div>
        <div id="triangle"></div>
    </div>
    <div class="row">
        <div id="mission-container"></div>
        <div id="objectives">
            <h2>Our Objectives</h2>
        </div>
    </div>
</div>