<div class="bg-dark px-4 py-6 w-full">
    <div class="row justify-around align-items-center">
        <div class="column justify-center align-content-center align-items-center">
            <img src="/assets/images/group.png" alt="USB group picture" class="rounded">
        </div>
        <div class="flex-break none@xl-above mt-1"></div>
        <div class="mx-1 none@lg-below"></div>
        <div class="column">
            <h1 class="light mb-0">Hello from USB!</h1>
            <h4 class="light font-normal text-justify mt-0 mb-3">
                The Computer Science Undergraduate Board is dedicated to improving the student experience within Computer and Data Sciences at Purdue- whether by
                managing CS193, hosting forums for student advocacy, or maintaining a database of undergrad-tailored resources, USB is continually
                creating initiatives that will uphold our values.
            </h4>
            <div class="row align-content-center align-items-center justify-around@md-below justify-between@md-above">
                <a href="/resources">
                    <button>Read Student Resources</button>
                </a>
                <div class="flex-break none@md-above my-1"></div>
                <div class="flex--nowrap align-items-center justify-center">
                    <p class="light font-semibold text-justify">Stay updated with our social media</p>
                    <div class="row justify-between@md-below justify-around@md-above w-auto">
                        {% for social in site.minima.social_links %}
                        <a href="https://{{social[1]}}" target="_blank" class="">
                            <img alt="{{social[0]}}" class="icon-4" src="/assets/images/logos/socialmedia/{{social[0]}}.svg"/>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>