</body>

<footer>
    <nav class="flex items-center justify-between flex-wrap p-2 bg-dark">
        <div class="p-2">
            <img width="125" src="../assets/logo/light_logo.svg" />
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
            </div>
            <div class="text-white">
                <a href="#resources" class="px-2">
                    Resources
                </a>
                <a href="#about" class="px-2">
                    About
                </a>
                <a href="#contact" class="px-2">
                    Contact Us
                </a>
            </div>
        </div>
    </nav>
</footer>

</html>