<footer class="site-footer h-card bg--dark py-0 px-6">

  <div class="flex row align-items-center">

    <div class="align-content-center">
      <a href="{{ '/' | relative_url }}">
        <img class="site-logo shadow-drop" src="/assets/images/logos/light_logo.svg" />
      </a>
    </div>
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />

      <div class="trigger flex justify-end">
        {%- for link in site.data.header_links -%}
          <a class="page-link" href="{{ link.href }}"><p class="light">{{ link.text }}</p></a>
        {% endfor %}
        {% include social.html %}
      </div>
      
    </nav>
  </div>

</footer>
