<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/logos/apple-touch-icon.png">
  <link rel="icon" type="image/x-icon" sizes="48x48" href="/assets/images/logos/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logos/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logos/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>
