<!doctype html>
<html class="h-full" lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Purdue USB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body class='flex flex-col h-full'>
  <header>
  <nav class="flex items-center justify-between flex-wrap bg-yellow p-2">
    <div class="p-2">
      <img width="175" src="../assets/logo/dark_logo.svg" />
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
      </div>
      <div>
        <a href="#membership" class="text-xl px-2">
          Membership
        </a>
        <a href="#initiatives" class="text-xl px-2">
          Initiatives
        </a>
        <a href="#resources" class="text-xl px-2">
          Resources
        </a>
        <a href="#about" class="text-xl px-2">
          About
        </a>
        <a href="#contact" class="text-xl px-2">
          Contact Us
        </a>
      </div>
    </div>
  </nav>
</header>