<div>
    <header class="column w-auto justify-center align-content-center align-items-center bg--primary py-0 px-1-20" role="banner">
        <div class="row align-content-center align-items-center justify-between">
            <div class="column grow-0 align-content-center">
                <a href="{{ "/" | relative_url }}">
                    <img class="icon-252px" src="/assets/images/logos/wordmark/dark_mono_nobg.svg" />
                </a>
            </div>

            {%- include navmenu.html -%}
        </div>
        {%- include navmenu_mobile.html -%}
    </header>
    {%- include announcement.html -%}
</div>