<div class="column px-1-20 my-3">
    <h1 class="text-center">Our Initiatives</h1>
    <div class="row grow-0 justify-center mb-3">
        <div class="textwidth text-justify">
            <p>We take pride in the freedom our members have to pursue impactful initiatives both immediately and in the long term.
                Some initiatives have been around for a decade or more, while others come and go as our goals evolve.</p>
            <p>Check out what we've been working on!</p>
        </div>
        
    </div>
    <script>
        function setup() {
            let magicGrid = new MagicGrid({
                container: "#initiative-container",
                items: parseInt("{{site.data.initiatives | size}}"), // Required for dynamic content. Initial number of items in the container.
                maxColumns: 3, // Optional. Maximum number of columns. Default: Infinite.
                useMin: true, // Optional. Prioritize shorter columns when positioning items? Default: false.
                useTransform: true, // Optional. Position items using CSS transform? Default: True.
                animate: true, // Optional. Animate item positioning? Default: false.
                center: true, //Optional. Center the grid items? Default: true. 
            });

            magicGrid.listen();
        }
        window.addEventListener("load", setup);
    </script>
    {% assign mobile-breakpoint-above = "xl-above" %}
    {% assign mobile-breakpoint-below = "xl-below" %}
    <div id="initiative-container">
        {%- for initiative in site.data.initiatives -%}
        <div class="card--initiative my-2 pb-2">
            <div class="row align-content-start justify-between mb-0">
                <div class="flex--nowrap grow-0@{{mobile-breakpoint-above}} w-full@{{mobile-breakpoint-below}}">
                    <img src="/assets/images/initiatives/{{ initiative.image }}" class="icon-17@{{mobile-breakpoint-above}} rounded@{{mobile-breakpoint-above}} w-full img-cover">
                </div>
                <div class="flex-break none@{{mobile-breakpoint-above}}"></div>
                <div class="column ml-2 mr-3 pt-2">
                    <div class="row grow-0 justify-between align-items-baseline">
                        <h4 class="mb-1 inline">{{ initiative.title | escape }}</h4>
                        {% if initiative.inactive == true %}

                            <small class="uppercase red">inactive</small>
                        {% elsif initiative.inactive != "" and initiative.inactive != nil %}
                            <small class="uppercase grey">{{initiative.inactive}}</small>
                        {% endif %}
                    </div>
                    <p class="mb-0 text-justify">{{ initiative.description }}</p>
                </div>
            </div>
            {% assign hasMembers = initiative.members != nil %}
            {% assign hasButton = initiative.buttonText != "" and initiative.buttonText != nil and initiative.buttonLink != "" and initiative.buttonLink != nil %}
            {% if hasMembers or hasButton %}
                <div class="mx-3">
                    <div class="column align-content-center align-items-center justify-between">
                        {% if hasMembers %}
                            <div class="row align-content-start mt-1">
                                <small class="font-bold block">Members</small>
                            </div>
                            <div class="row">
                                <div class="row align-content-between justify-around">
                                    {% assign row_limit = 11 %}
                                    {% assign initiative_members = initiative.members | sort:"value" %}
                                    {% for name in initiative_members %}
                                        {% assign member = site.data.members | where:"name", name | first %}
                                        <div class="border-box-size mx-0 mt-1">
                                            <a {% if member.site != "" and member.site != nil %} href="{{member.site}}" {% endif %} title="{{ member.name }}" class="no-decoration shadow-none" target="_blank">
                                                <img src="/assets/images/members/{{ member.image }}" class="rounded--circle icon-3 block" alt="{{ member.name }}">
                                            </a>
                                        </div>

                                        {% assign remainder = forloop.index | modulo: row_limit %}
                                        {% if remainder == 0 %}
                                            <div class="flex-break"></div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if hasButton %}
                            <div class="row align-content-center justify-center">
                                <a class="py-1 mt-1 w-full text-center hover--underline" href="{{ initiative.buttonLink }}">
                                    <h4 class="mb-0">{{ initiative.buttonText }}</h4>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        {%- endfor -%}
        <!--<div class="card mx-5 my-3">
            <img src="/assets/images/initiatives/{{ initiative.image }}" class="w-full">
            <div class="mt-2 mb-1 mx-1">
                <h4 class="initiative-title">{{ initiative.title | escape }}</h4>
                <p class="initiative-description">{{ initiative.description }}</p>
                <a class="initiative-button" href="{{ initiative.buttonLink }}">{{ initiative.buttonText }}</a>
            </div>
        </div>-->
    </div>
</div>