<!-- initiative Grid Section -->
    <section id="initiatives" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Initiatives</h2>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 initiative-item">
                    <a href="#{{ post.modal-id }}" class="initiative-link" data-toggle="modal">
                        <div class="initiative-hover">
                            <div class="initiative-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/initiatives/{{ post.thumbnail }}" class="img-responsive" alt="">
                    </a>
                    <div class="initiative-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
