<div class="members">
    <h1>Current USB Members</h1>

<div class="members-flex">
    {%- for member in site.data.members -%}
    <div class="hvrbox">
        <img src="/assets/images/members/{{ member.image }}" class="hvrbox-layer_bottom">
        <div class="hvrbox-layer_top">
            <div class="hvrbox-text">
                {{ member.name }}
                <div style="font-size: 12px;">{{ member.title }}</div>
                <div style="font-size: 12px;">{{ member.class }}</div>
            </div>
        </div>
    </div>
    {%- endfor -%}
</div>
</div>