<nav class="site-nav column align-content-center align-items-end">
    <label for="nav-trigger" class="bg-light rounded--slight">
        <span class="menu-icon icon-3 pa-0">
        <img class="icon-2 fill-dark dark" src="/assets/images/mobile-menu.svg"/>
        </span>
    </label>
    <div class="none@md-below">
        <div class="trigger row justify-end margin-list">
            {%- for link in site.data.header_links -%}
            <a class="page-link" href="{{ link.href }}"><h4>{{link.text}}</h4></a>
            {% endfor %}
        </div>
    </div>
</nav>