@charset "utf-8";

/** 
Define defaults for each variable. Be sure to include !default on the end of each line.
*/


/* Fonts */
@mixin google-font($family, $variants) {
  @import url('https://fonts.googleapis.com/css2?family=#{$family}:wght@#{$variants}&display=swap');
}
@include google-font("Raleway", "400;500;600;700");
@include google-font("Montserrat", "400;500;600;700");
// TODO remove comic sans
$font-family-backup: "Comic Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-body: "Raleway", $font-family-backup !default;
$font-family-header: "Montserrat", $font-family-backup !default;
$font-size-h1:        3.2rem !default;
$font-size-h2:        2.7rem !default;
$font-size-h3:        2rem !default;
$font-size-h4:        1.4rem !default;
$font-size-button:    $font-size-h4 !default;
$font-size-listitem:  1.4rem !default;
$font-size-body:      1rem !default;
$font-size-caption:   0.777rem !default;
$font-weight-base:      400 !default;
$font-weight-medium:    500 !default;
$font-weight-semibold:  600 !default;
$font-weight-bold:      700 !default;
$base-line-height:    1.5 !default;


/* Colors */
$text-color:        #333 !default;
$text-color-light:  #FFF !default;
$background-dark:   $text-color !default;
$background-light:  $text-color-light !default;
$background-color:  $background-light !default;
$primary-color:     #FFCA44 !default;

$accent-blue:       #8AC9FE !default;
$accent-color:      $accent-blue !default;
$accent-red:        #FE646F !default;
$accent-grey:       #828282 !default;
$accent-grey-light:  lighten($accent-grey, 40%) !default;
$accent-grey-dark:   darken($accent-grey, 25%) !default;

$variant-elements: ("bg": background-color, "text": color) !default;
$color-variants: (
    "dark":     $background-dark, 
    "light":    $background-light,
    "primary":  $primary-color,
    "blue":     $accent-blue,
    "red":      $accent-red,
    "grey":     $accent-grey,
    "grey-light":  $accent-grey-light,
    "grey-dark":  $accent-grey-dark
  ) !default;


/* Spacing & Alignment */
$table-text-align:    left !default;
$spacing-types:       "margin", "padding" !default;
$spacing-directions:  "top", "bottom", "left", "right", "x", "y", "a" !default;
$spacing-max-group:   10 !default;
$spacing-base:        1.35914091423 !default;
$spacing-unit:        1.9rem !default;
$padding-button-x:    $spacing-unit / 2.5 !default;
$padding-button-y:    $spacing-unit / 3.8 !default;
$dimension-sizing-groups: 3, 4, 10 !default;
$max-grow-shrink-factor:  3 !default;
// Width of the content area
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

/* Effects */
$border-width: 4px !default;
$border-radius: 10px !default;
$border-radius-slight: 3px !default;
$default-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) !default;


// Import partials.
@import "mixins";
@import "utils";
@import "theme/base";
@import "theme/layout";
@import "theme/syntax-highlighting";
