/* CSS customization for base theme */
@charset "utf-8";

/** 
Define defaults for each variable. Be sure to include !default on the end of each line.
*/


/* Fonts */
@import "mixins";
@include google-font("Raleway", "400;500;600;700");
@include google-font("Montserrat", "400;500;600;700");
$font-family-backup: sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-families: (
    body: ("Raleway", $font-family-backup),
    header: ("Montserrat", $font-family-backup)
) !default;
$font-sizes: (
    h1:         1rem * 56 / 18,
    h2:         1rem * 48 / 18,
    h3:         1rem * 36 / 18,
    h4:         1rem * 24 / 18,
    button:     1rem * 24 / 18,
    listitem:   1rem * 24 / 18,
    body:       1rem,
    caption:    1rem * 14 / 18,
) !default;
$base-line-height:    1.5 !default;


/* Colors */
$percentage-lighten:    50% !default;
$percentage-darken:     10% !default;
$primary-color:         #FFCA44 !default;

$accent-blue:       #8AC9FE !default;
$accent-red:        #FE646F !default;
$accent-purple:     #BC78C2 !default;
$accent-green:      #6AEBAD !default;
$accent-orange:     #FEA465 !default;
$accent-grey:       #6B6A6A !default;
$accent-grey-light: #E5E5E5 !default;
$profile-overlay:   rgba(0, 0, 0, 0.25);

$text-color:            #333 !default;
$text-color-hint:       $accent-grey !default;
$text-color-light:      #FFF !default;
$background-light:      $text-color-light !default;
$background-dark:       $text-color-light !default;
$background-color:      $background-light !default;
$focus-color:           tint($primary-color, $percentage-lighten) !default;
$accent-color:          $accent-blue !default;

/* Spacing & Alignment */
$table-text-align:    left !default;
$spacing-max-group:   10 !default;
$spacing-base:        1.35914091423 !default;
$spacing-unit:        1.9rem !default;
$padding-button-x:    spacing-group(2) !default;
$padding-button-y:    spacing-group(1) !default;


// Width of the content area
$content-width:    800px !default;
$screens: (
    'xs': ('min': '0px',  'max': '639px'),
    'sm': ('min': '640px',  'max': '767px'),
    'md': ('min': '768px',  'max': '1023px'),
    'lg': ('min': '1024px', 'max': '1279px'),
    'xl': ('min': '1280px', 'max': '10000000000px' /* such hack */),
) !default;
// For convenience elsewhere
$screen-xsmall: map-get(map-get($screens, "sm"), "max");
$screen-xsmall-min: map-get(map-get($screens, "sm"), "min");
$screen-small: map-get(map-get($screens, "sm"), "max");
$screen-small-min: map-get(map-get($screens, "sm"), "min");
$screen-medium: map-get(map-get($screens, "md"), "max");
$screen-medium-min: map-get(map-get($screens, "md"), "min");
$screen-large: map-get(map-get($screens, "lg"), "max");
$screen-large-min: map-get(map-get($screens, "lg"), "min");
$screen-xlarge: map-get(map-get($screens, "xl"), "max");
$screen-xlarge-min: map-get(map-get($screens, "xl"), "min");

/* Effects */
$border-width: 4px !default;
$border-radius: 10px !default;
$border-radius-slight: 3px !default;
$shadow-color-default: rgba(0, 0, 0, 0.25) !default;
$shadow-color-dark: rgba(0, 0, 0, 0.95) !default;
$shadow-default: 4px 4px 4px !default;
$shadow-dark: 4px 4px 4px !default;
$shadow-nooffset: 0px 0px 4px !default;
$shadow-nooffset-soft: 0px 0px 12px !default;
$animation-delay: 250ms !default;
$bg-angle: 4rem !default;
$bg-angle-color: $primary-color !default;
$scrollbar-background: white !default;
$scrollbar-foreground: $accent-grey !default;


// Import partials. DO NOT REORDER
@import "generate";
@import "utils";
@import "theme/base";
@import "theme/layout";
@import "theme/syntax-highlighting";
