.font {
    &--height-normal {
        line-height: 1;
    }
}


.flex {
    display: flex;
    display: -webkit-flex;
    box-sizing: border-box;
    @extend .row;

    &--wrap {
        &-reverse {
            flex-wrap: wrap-reverse !important;
        }

        flex-wrap: wrap !important;
        @extend .flex;
    }

    &--nowrap {
        @extend .flex;
        flex-wrap: nowrap !important;
    }
}

.flex-container {
    @extend .border-box-size;
}

.flex-break {
    @extend .block, .w-full;
    height: 1px;
}

*[class^='column'], *[class*=' column'] {
    @include flex-even;
}

*[class^='row'], *[class*=' row'] {
    @extend .w-full;
    @include flex-even;
    flex-wrap: wrap;
}

.border-box-size, .border-box-size * {
    box-sizing: border-box;
}

.margin-list > * {
    &:not(:last-child) {
        @extend .mr-2;
    }

    &:not(:first-child) {
        @extend .ml-2;
    }
}

.margin-list--wrap > * {
    @extend .mx-2;
}

.no-decoration {
    text-decoration: none;
    list-style: none;
}

.hover {
    &--underline:hover {
        text-decoration: underline;
    }
}

.animate {
    -moz-transition: all $animation-fade-time ease-in-out 0s;
    -webkit-transition: all $animation-fade-time ease-in-out 0s;
    -ms-transition: all $animation-fade-time ease-in-out 0s;
    transition: all $animation-fade-time ease-in-out 0s;
}

.fade-in-out {
    opacity: 0;
    @extend .animate;

    &:hover {
        opacity: 1;
    }
}

.uppercase {
    text-transform: uppercase;
}

.img-cover {
    object-fit: cover;
}

.clickable {
    @include clickable;
}

.clickable, a, button, .button {
    &:focus {
        outline: $border-width double initial;
        @extend .shadow;
    }
    &:focus:not(:focus-visible) { 
        outline: none; 
    }
    &:active {
        @extend .flat;
    }
}

.textwidth {
    max-width: 53rem;
}

.flat {
    @include shadow-none;
}

.shadow {
    &, &-drop {
        @include shadow-drop;
        &--center {
            @include shadow('drop', $shadow-nooffset);
            &--soft {
                @include shadow('drop', $shadow-nooffset-soft);
            }
        }
    }

    &-box {
        @include shadow-box;
        &--center {
            @include shadow('box-shadow', $shadow-nooffset);
            &--soft {
                @include shadow('box-shadow', $shadow-nooffset-soft);
            }
        }
    }

    &-text {
        @include shadow-text;
        &-dark {
            @include shadow('text-shadow', $shadow-default, $shadow-color-dark);
        }
        &--center {
            @include shadow('text-shadow', $shadow-nooffset);
            &--soft {
                @include shadow('text-shadow', $shadow-nooffset-soft);
            }
        }
    }
}