.rounded {
    @include screen-variant {
        @include rounded($border-radius);

        &--slight {
            @include rounded($border-radius-slight);
        }

        &--circle {
            @include rounded(100%);
        }
    }
}

.shadow {
    &-box {
        @include shadow-box;
    }

    &-text {
        @include shadow-text;

        &--dark {
            filter: drop-shadow($shadow-dark);
        }
    }

    &-drop {
        @include shadow-drop;

        &--hover {
            transition: $animation-fade-time;

            &:hover {
                filter: drop-shadow($shadow-hover);
            }

        }
    }

    &-none {
        filter: none;
    }
}

.font {
    &--height-normal {
        line-height: 1;
    }
}

.bg {
    &-primary-mobile {
        @include media-query-below($screen-medium) {
            background-color: $primary-color;
        }
    }

    &-light-mobile {
        @include media-query-below($screen-medium) {
            background-color: $background-light;
        }
    }

    &-dark-mobile {
        @include media-query-below($screen-medium) {
            background-color: $background-dark;
        }
    }
}


.flex,
.container {
    display: flex;
    display: -webkit-flex;
    @extend .row;

    &--wrap {
        &-reverse {
            flex-wrap: wrap-reverse;
        }

        flex-wrap: wrap;
        @extend .flex;
    }

    &--nowrap {
        flex-wrap: nowrap;
    }
}

.flex-break {
    display: block;
    height: 1px;
    width: 100%;
}

@include screen-variant("");


.row {
    width: 100%;
    @include flex-even;
    flex-direction: row;
    flex-wrap: wrap;

    &-reverse {
        @extend .row;
        flex-direction: row-reverse;
    }

    &--nowrap {
        flex-wrap: nowrap;
    }
}

.column {
    @include flex-even;
    flex-direction: column;

    //flex-basis: 100%;
    &-reverse {
        @extend .column;
        flex-direction: column-reverse;
    }

    &--nowrap {
        flex-wrap: nowrap;
    }
}

.border-box-size,
.border-box-size * {
    box-sizing: border-box;
}

.margin-list>* {
    &:not(:last-child) {
        @extend .mr-2;
    }

    &:not(:first-child) {
        @extend .ml-2;
    }
}

.margin-list--wrap>* {
    @extend .mx-2;
}

.no-decoration {
    text-decoration: none;
    list-style: none;
}

.hover {
    &--underline:hover {
        text-decoration: underline;
    }
}

.fade-in-out {
    opacity: 0;
    -moz-transition: all $animation-fade-time ease-in-out 0s;
    -webkit-transition: all $animation-fade-time ease-in-out 0s;
    -ms-transition: all $animation-fade-time ease-in-out 0s;
    transition: all $animation-fade-time ease-in-out 0s;

    &:hover {
        opacity: 1;
    }
}

.uppercase {
    text-transform: uppercase;
}

.img-cover {
    object-fit: cover;
}

.clickable {
    @include clickable;
}

.textwidth {
    max-width: 53rem;
}