.objective {
    @include media-query-max($screen-medium) {
        max-width: 100%;
    }

    @include media-query-min($screen-large) {
        max-width: 45%;
    }
}

.section- {
    $mission-width: 45%;
    $objectives-width: 45%;
    &mission {
        width: $mission-width;
        max-width: $mission-width;
    }
    &objectives {
        width: $objectives-width;
        max-width: $objectives-width;
    }
    &objectives, &mission {
        @include media-query-max($screen-medium) {
            width: 100%;
            max-width: 100%;
        }
    }
    
}

#trapezoid {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 100px solid $primary-color;
    border-left: 0px solid transparent;
    border-right: 5rem solid transparent;
    height: 100%;
    width: 45%;
}

#triangle {
    position: absolute;
    left: 45vw;
    width: 0;
    height: 0;
    border-bottom: 470px solid $primary-color;
    border-right: 150px solid transparent;
    z-index: 1;
}

#rectangle {
    position: absolute;
    background-color: $primary-color;
    height: 470px;
    width: 45vw;
    z-index: 2;

    h2 {
        font-weight: bold;
        padding-top: 1vh;
        margin-right: 40px;
        text-align: center;
    }

    p {
        font-size: 20px;
    }
}

#rectangle-text {
    position: absolute;
    max-width: 500px;
    right:0;
    padding-left: 20px;
    padding-top: 100px;
}

#objectives {
    padding-top: 3vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
}

@media (max-width: 915px) {
    #triangle {
        display: none;
    }
    #rectangle {
        width: auto;
        height: auto;
        position: relative;
        display: block;
        z-index: 0;
    }
    #rectangle-text {
        width: auto;
        max-width: none;
        position: relative;
        display: block;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;

    }
    #rectangle h1 {
        text-align: left;
        margin: auto;
        padding-left: 0px;
    }
    #rectangle p {
        padding-left: 0px;
    }
    #mission-container {
        display: none;
    }
    .objective {
        max-width: none;
    }
    #objectives {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
