/* CSS for /aboutus */

/*! purgecss start ignore */
.bg {
    &--angled {
        @include media-query($above: $screen-large-min) {
            background: linear-gradient(to top right, $bg-angle-color 69%, transparent 0%) no-repeat top,
            linear-gradient(0deg, $bg-angle-color, $bg-angle-color) no-repeat bottom;
            background-size: 100% $bg-angle, 100% calc(100% - calc(#{$bg-angle} - 2px));
        }
    }
    &--angled-mobile {
        @include media-query($below: $screen-medium) {
            background: linear-gradient(to bottom right, $bg-angle-color 50%, transparent 0%) no-repeat bottom,
            linear-gradient(30deg, $bg-angle-color, $bg-angle-color) no-repeat top;
            background-size: 100% $bg-angle-mobile, 100% calc(100% - calc(#{$bg-angle-mobile} - 2px));
            @include p-bottom(spacing-group(10));
            @include m-bottom(spacing-group(6));
        }
    }
}

.objective {
    @include media-query($below: $screen-medium) {
        max-width: 100%;
    }

    @include media-query($above: $screen-large) {
        max-width: 45%;
    }
}

.section- {
    $mission-width: 45%;
    $objectives-width: 45%;
    &mission {
        width: $mission-width;
        max-width: $mission-width;
    }
    &objectives {
        width: $objectives-width;
        max-width: $objectives-width;
    }
    &objectives, &mission {
        @include media-query($below: $screen-medium) {
            width: 100%;
            max-width: 100%;
        }
    }
    
}
/*! purgecss end ignore */
