.card {
    /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 300px;
        height: 350px;
        margin: 10px auto;
    }
    
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 10px;
    height: 20%;
}

.initiatives-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.initiative-title {
    font-weight: bold;
    margin-bottom: 0px;
}

.initiative-description {

}

.initiative-button {
    color: $usb-blue;
    margin: auto;
    width: 50%;
    font-size: 1.2em;
}