.members-flex {
    max-width: 1000px;
}

.member img {
    object-fit: cover;
    object-position: center;
}

.overlay {
    &-container {
        position: relative;
        display: inline-block;
        height: auto;
        &:hover {
            @extend .shadow-drop--center--soft;
        }
        a:focus-within {
            // TODO Y U NO WORK
            border: 4px solid red !important;
            outline: none !important;
        }
    }
    opacity: 0;
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background: $profile-overlay;
    
    &.active {
        opacity: 1;
    }
}

.menu-check {
    display: none;
}

.menu-check, .menu-item{
    @extend .animate;
    overflow-y: hidden;
    //transform: scaleY(0);
    max-height: 0;
}

.menu-check:checked {
    ~ .menu-item {
        @extend .animate;
        //transform: scaleY(1);
        max-height: 1000rem;
    }
}
