.members-flex {
    max-width: 1000px;
}

.member img {
    object-fit: cover;
    object-position: center;
}

.overlay {
    &-container {
        position: relative;
        display: inline-block;
        height: auto;
        &:hover {
            @extend .shadow-drop--center--soft;
        }
        a:focus-within {
            // TODO Y U NO WORK
            border: 4px solid red !important;
            outline: none !important;
        }
    }
    opacity: 0;
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background: $profile-overlay;
    
    &.active {
        opacity: 1;
    }
}

.title-adjust {
    margin-right: -50px;
}

.alumnus-open, .alumnus-item{
    @extend .animate;
    overflow-y: hidden;
    //transform: scaleY(0);
    max-height: 0;
}

.alumnus-open:checked + .alumnus-open-button {
    transform: translate3d(0, 0, 0) rotate(180deg);
}

.alumnus-open:checked ~ .alumnus-item {
    @extend .animate;
    //transform: scaleY(1);
    max-height: 1000rem;
}
