article {
    p img {
        &:not(.emoji) {
            margin: 0 auto;
            margin-bottom: spacing-group(4);
            @extend .block, .rounded;
        }
        &.emoji {
            @extend .-mt-2;
        }
    }

    p {
        @extend .justify-around, .align-items-center;
    }

    section:nth-of-type(2) p, li {
        @extend .font--height-high;
    }

    code {
        @extend .text-left;
    }

    h1, h2, h3, h4, h5, h6, .heading {
        @extend .mb-2, .mt-8;
    }
}

label[for="rate-good"], label[for="rate-bad"] {
    @extend .grey;
}

#rate-bad {
    & + label[for="rate-bad"] {
        &:hover {
            @extend .red;
        }
    }

    &:checked + label[for="rate-bad"] {
        @extend .red;
    }
}

#rate-good {
    & + label[for="rate-good"] {
        &:hover {
            @extend .green-dark;
        }
    }

    &:checked + label[for="rate-good"] {
        @extend .green-dark;
    }
}

.lightcase-img {
    @extend .clickable;
}

#lightcase-info #lightcase-caption {
    @extend .light;
}

#lightcase-overlay {
    background: #000;
}

.lightcase-icon-close {
    &:before{
        content: '×';
    }
    @extend .no-decoration, .flat;
    color: $accent-grey !important;
    &:hover {
        color: $text-color-light !important;
    }
}

.wiki-shim {
    width: 100%;
    max-width: 40rem;
    min-width: 20rem;
}
