/* CSS for /wiki */
#sidebar {
    .post-title, .post-description {
        text-overflow: ellipsis;
        display: block;
        -webkit-line-clamp: 2;
    }
    max-height: 75vh;
    min-height: 300px;
}

#wiki-list {
    //max-height: 35vh;
    @include media-query($above: $screen-large-min) {
        max-height: 66vh;
    }

    @include media-query($above: $screen-medium-min, $below: $screen-medium) {
        max-height: 44vh;
    }
    
    @include media-query($below: $screen-small) {
        max-height: 55vh;
    }
    min-height: 200px;
}
