<div class="column px-5/100 align-items-center w-full">
    <div class="justify-center textwidth section-title">
        <h1 class="text-center mb-4">All Posts</h1>
        <p class="mb-2 text-left">People have written posst! See them below</p>
        <p class="text-left">Click through and have fun</p>        
    </div>
    <div id="blog-post-container" class="w-full">
        {%- for post in site.data.blog-posts -%}
            {% include components/blog-temp/card.html data=post %}
        {%- endfor -%}
    </div>
</div>
