/*---
layout: style
---*/
.teamphoto {
    margin-bottom: 40px;
}
li.active {
    border-bottom: 2px solid #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: rgba(0,0,0,0);
}
#initiatives a {
    text-decoration: none;
    color: inherit;
}
.send-button {
    background: #DD6C01;
}
section {
    padding: 100px 0px;
}
