---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.banner {
    background-color: #333333;
    width: 100%;
    padding-bottom: 5vh;
    justify-content: center;
}

.home {
    flex: 1;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}

.banner-text {
    color:white;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
    max-width: 400px;
}

.banner-text h5 {
    font-size: medium;
}

.banner-image {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    max-width: 400px;
}

.banner button{
    background-color: #FFCA44;
    border: none;
    height: 35px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;;
}

#triangle {
    position: absolute;
    left: 40vw;
    width: 0;
    height: 0;
    border-bottom: 30vh solid #FFCA44;
    border-right: 150px solid transparent;
    z-index: 1;
}

#rectangle {
    position: absolute;
    background-color: #FFCA44;
    height: 30vh;
    width: 40vw;
    z-index: 2;
}

#rectangle-text {
    display: flex;
    justify-content: center;
}

#rectangle h2 {
    font-weight: bold;
    padding-top: 5vh;
    margin-left: 20px;
    text-align: center;
}

#rectangle p {
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));;
    padding-left: 5vw;
    margin-right: -30px;
    max-width: 800px;
}

#objectives {
    position: absolute;
    left: 65vw;
    padding-top: 35vh * 0.1;
}

#objectives h2 {
    font-weight: bold;
}

.angled {
    width: 100%;
    background-size: 100% 100%;
    background: url("/assets/images/angle\ bg.svg");
}

.yellow-triangle {
    padding: 20px;
    width: 50%;
}

.members {
    padding-top: 2vh;
    display: flex;
    width: 100%;
    justify-content: center;
}

.members h2 {
    font-weight: bold;
}