---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$usb-yellow: #FFCA44;

.banner {
    background-color: #333333;
    width: 100%;
    padding-bottom: 5vh;
    justify-content: center;
}

.home {
    flex: 1;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}

.banner-text {
    color:white;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
    max-width: 400px;
}

.banner-text h5 {
    font-size: medium;
}

.banner-image {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    max-width: 400px;
}

.banner button{
    background-color: $usb-yellow;
    border: none;
    height: 35px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;;
    padding: 10px;
}

#triangle {
    position: absolute;
    left: 40vw;
    width: 0;
    height: 0;
    border-bottom: 30vh solid $usb-yellow;
    border-right: 150px solid transparent;
    z-index: 1;
}

#rectangle {
    position: absolute;
    background-color: $usb-yellow;
    height: 30vh;
    width: 40vw;
    z-index: 2;
}

#rectangle-text {
    position: absolute;
    justify-content: center;
    max-width: 500px;
    right:0;
    margin-right: -40px;
    padding-left: 20px;
}

#rectangle h2 {
    font-weight: bold;
    padding-top: 1vh;
    margin-right: 40px;
    text-align: center;
}

#mission-container {
    width:50vw; 
    height: 30vh; 
    min-width: 600px;
}

#objectives {
    left: 65vw;
    padding-top: 1vh;
    width: 35vw;

}

#objectives h2 {
    font-weight: bold;
}

@media (max-width: 915px) {
    #triangle {
        display: none;
    }
    #rectangle {
        width: 100%;
        height: 30vh;
    }
    #rectangle-text {
        right: auto;
        width: 100%;
        margin: 0 auto;
    }
    #rectangle h2 {
        text-align: left;
        margin-right: 0px;
    }
    #mission-container {
        height: 30vh;
    }
}


.members {
    padding-top: 2vh;
    display: flex;
    width: 100%;
    justify-content: center;
}

.members h2 {
    font-weight: bold;
}

.card {
/* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 350px;
    margin: 10px auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}

.initative-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}