<div class="w-full">
    <div class="divider--horizontal"></div>
    <div class="bg--angled">
        <h1 class="section-title bg-primary@lg-below">About Us</h1>
        <div class="row justify-between@xl-above justify-center@lg-below pb-4">
            <div class="column section-mission align-items-center bg--angled-mobile pl-3/100@xl-above px-5/100@lg-below">
                <div class="textwidth">
                    <h3 class="text-center mb-6">Our Mission</h3>
                    <h4 class="font-medium text-justify mb-0">
                        The Computer Science Undergraduate Student Board was established in 1999 to promote a supportive and engaged community
                        within Purdue’s Computer Science Department, and to use its relationship with faculty, the Computer
                        Science Corporate Partners Program, and administration to advocate for the student body.
                    </h4>
                </div>
            </div>
            <div class="flex-break none@xl-above"></div>
            <div class="column section-objectives justify-center align-items-center pr-3/100@xl-above px-5/100@lg-below">
                <div class="textwidth@lg-below">
                    <h3 class="text-center mb-6">Our Objectives</h3>
                    <div id="objective-container" class="row justify-around align-content-center animate">
                        {%- for objective in site.data.objectives -%}
                        {% unless forloop.first or forloop.last%}
                            <div class="mx-3@lg-above column"></div>
                        {% endunless %}
                        <div class="objective mb-10">
                            <h4 class="mb-1 block">{{ objective.title }}</h3>
                            <div class="row--nowrap grow-0 justify-center align-items-center">
                                <p class="text-justify mb-0">{{ objective.description }}</p>
                                <img class="icon-5 ml-3@lg-above ml-5@lg-below mb-3" src="/assets/images/objectives/{{ objective.image }}" aria-hidden="true">
                            </div>
                        </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider--horizontal"></div>
</div>