<div class="bg-dark py-14 px-8 w-full">
    <div class="row justify-center align-items-center align-content-center">
        <picture class="textwidth mx-4@xl">
            <source srcset="/assets/images/group.webp" type="image/webp">
            <source srcset="/assets/images/group.png" type="image/png"> 
            <img src="/assets/images/group.png" alt="USB Group Picture" title="USB Group Picture" class="rounded">
        </picture>
        <div class="flex-break none@xl-above mt-6"></div>
        <div class="column safari-flexbasis-fix textwidth mx-4@xl">
            <h1 class="light mb-2 mt-5 font--height-normal text-nowrap@sm-above">Hello from USB!</h1>
            <h4 class="light font-normal mt-0 mb-6">
                The Computer Science Undergraduate Board is dedicated to improving the student experience within Computer and Data Sciences at Purdue- whether by
                managing CS193, hosting forums for student advocacy, or maintaining a database of undergrad-tailored resources, USB is continually
                creating initiatives that will uphold our values.
            </h4>
            <div class="row justify-center@sm-below justify-between@md-above align-items-end">
                {% assign buttonText = "Read Student Wiki" %}
                <button href="/wiki" target="_self" title="{{buttonText}}" class="text-wrap-nowrap">{{buttonText}}</button>
                <div class="flex-break none@md-above my-2"></div>
                <div class="">
                    <p class="light font-semibold text-center mb-3 mt-4@sm-below">Stay updated with us online</p>
                    <div class="row justify-between w-auto">
                        {% include components/social.html svg=true %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>