<div class="flex-container px-4-20 w-full pt-5">
    <h2 class="mb-1 justify">What's on your mind?</h2>
    <p class="mb-1">You can also send us an email at <a href="mailto:usb&commat;cs&period;purdue&period;edu">usb&commat;cs&period;purdue&period;edu</a></p>
    <p class="mb-0">
        <small class="uppercase font-bold">Note:</small> 
        To report concerns in an official capacity, please go to the 
        <a href="https://my.cs.purdue.edu/undergraduate/concern">CS Concern Form</a>.
    </p>
    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/usb@cs.purdue.edu" method="post" class="column mt-3">
        <fieldset id="fs-frm-inputs">
            <div id="contactForm">
                <div class="row grow-0 justify-between@md-above justify-around@sm-below mb-1">
                    <div class="column">
                        <label for="name" class="required">Your Name<span>*</span></label>
                        <input type="text" name="Name" id="name" placeholder="How should we address you?" required>
                    </div>
                    <div class="mx-1 none@md-below"></div>
                    <div class="flex-break mt-1 none@lg-above"></div>
                    <div class="column">
                        <label for="email" class="required">Email Address<span>*</span></label>
                        <input type="email" name="Email" id="email" placeholder="pete@purdue.edu" required>
                    </div>
                </div>

                <div class="column grow-0 justify-center mb-1">
                    <label for="subject" class="required">Subject<span>*</span></label>
                    <input type="text" name="Subject" id="subject" placeholder="What's the gist?" required>
                </div>

                <div class="column grow-0 justify-center mb-1">
                    <label for="message" class="required">Message<span>*</span></label>
                    <textarea rows="5" name="Message" id="message" placeholder="Questions, comments, concerns, suggestions &mdash; put 'em here!"
                    required=""></textarea>
                </div>

                <div class="row grow-0">
                    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                </div>
        </fieldset>
        <div class="row justify-center">
            <input id="submitButton" type="submit" value="Send" class="--outline-dark w-2/3">
        </div>
    </form>
</div>
