<div class="column my-3 px-1/20 align-items-center w-full">
    <div class="justify-center textwidth section-title">
        <h1 class="text-center mb-4">Our Initiatives</h1>
        <p class="text-justify mb-2">We take pride in the freedom our members have to pursue impactful initiatives both immediately and in the long term.
            Some initiatives have been around for a decade or more, while others come and go as our goals evolve.</p>
        <p class="text-justify">Check out what we've been working on!</p>        
    </div>
    <script>
        function setup() {
            let magicGrid = new MagicGrid({
                container: "#initiative-container",
                items: parseInt("{{site.data.initiatives | size}}"), // Required for dynamic content. Initial number of items in the container.
                maxColumns: 3, // Optional. Maximum number of columns. Default: Infinite.
                useMin: true, // Optional. Prioritize shorter columns when positioning items? Default: false.
                useTransform: true, // Optional. Position items using CSS transform? Default: True.
                animate: true, // Optional. Animate item positioning? Default: false.
                center: true, //Optional. Center the grid items? Default: true. 
            });

            magicGrid.listen();
        }
        window.addEventListener("load", setup);
    </script>
    {% assign mobile-breakpoint-above = "xl-above" %}
    {% assign mobile-breakpoint-below = "lg-below" %}
    <div id="initiative-container" class="mt-3 w-full">
        {%- for initiative in site.data.initiatives -%}
        <div class="card--initiative my-4 animate">
            <div class="row align-content-start justify-between mb-0">
                <img src="/assets/images/initiatives/{{ initiative.image }}" class="icon-17@{{mobile-breakpoint-above}} rounded@{{mobile-breakpoint-above}} w-full@{{mobile-breakpoint-below}} img-cover" aria-hidden="true">
                <div class="flex-break none@{{mobile-breakpoint-above}}"></div>
                <div class="column mx-4 pt-4">
                    <div class="row grow-0 justify-between align-items-baseline">
                        <h4 class="mb-5 inline">{{ initiative.title | escape }}</h4>
                        {% if initiative.inactive == true %}

                            <small class="uppercase red">inactive</small>
                        {% elsif initiative.inactive != "" and initiative.inactive != nil %}
                            <small class="uppercase grey">{{initiative.inactive}}</small>
                        {% endif %}
                    </div>
                    <p class="mb-4 text-justify">{{ initiative.description }}</p>
                </div>
            </div>
            {% assign hasMembers = initiative.members != nil %}
            {% assign hasButton = initiative.buttonText != "" and initiative.buttonText != nil and initiative.buttonLink != "" and initiative.buttonLink != nil %}
            {% if hasMembers or hasButton %}
                <div class="mx-5 py-3">
                    <div class="column align-content-center align-items-center justify-between">
                        {% if hasMembers %}
                            <small class="font-bold block w-full">Members</small>
                            <div class="row align-content-between justify-around">
                                {% assign initiative_members = initiative.members | sort:"value" %}
                                {% include components/member/members_list.html members=initiative_members name=true rowLimit=11 shadow=false size="icon-square-3" spacing="mt-1" overlay=false %}
                            </div>
                        {% endif %}
                        {% if hasMembers and hasButton %}
                            <div class="mt-4"></div>
                        {% endif %}
                        {% if hasButton %}
                            <div class="row align-content-center justify-center">
                                <a class="py-3 w-full text-center no-underline clickable" href="{{ initiative.buttonLink }}">
                                    <h4 class="mb-0">{{ initiative.buttonText }}</h4>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        {%- endfor -%}
    </div>
</div>