<div class="column px-1-20 pt-6 text-center">
    <h3 class="mb-0">Meet the Board</h3>
    {%- assign year = 'now' | date: "%Y" -%}
    <p class="mb-4">{{ year }} &ndash; {{ year |plus:1 }} Members</p>

    {% assign current_members = site.data.members | where_exp: "member", "member.class contains '' or member.class == nil" %}
    {% assign former_members_years = site.data.alumni | group_by: "class" | sort: "name" | reverse %}
    {% assign former_members = '' | split: ',' %}
    {% for year in former_members_years %}
        {% assign year_members = year.items | sort_natural: "name" %}
        {% for member in year_members %}
            {% assign former_members = former_members | push: member %}
        {% endfor %}
    {% endfor %}
    {% include components/members_list.html members=current_members %}

    {% if former_members | size %}
        <div class="row mt-4 justify-center align-items-center">
            <div class="column title-adjust">
                <h3 class="mb-0">Former Members</h3>
                <p class="mb-0">A best-effort record of {{former_members | size}} of our former members</p>
            </div>
            <input type="checkbox" href="#" class="alumnus-open w-0" name="alumnus-open" id="alumnus-open"/>
            <label class="alumnus-open-button clickable pa-2" for="alumnus-open" title="Show/hide USB Alumni">
                <span class="menu-arrow-rotate"><i class="fas fa-chevron-down"></i></span>
            </label>
            <div class="flex-break mb-4"></div>
            <div class="alumnus-item">
                {% include components/members_list.html members=former_members %}
                <input type="checkbox" href="#" class="alumnus-open w-0" name="alumnus-open" id="alumnus-open"/>
                <label class="alumnus-open-button clickable pa-2" for="alumnus-open" title="collapse USB Alumni">
                    <span class="menu-arrow-rotate"><b>Collapse</b> <i class="fas fa-chevron-up"></i></span>
                </label>
            </div>
        </div>
    {% endif %}
</div>