<div class="column px-1-20 pt-6 text-center">
    <h3 class="mb-0">Meet the Board</h3>
    {%- assign year = 'now' | date: "%Y" -%}
    <p class="mb-4">{{ year }} &ndash; {{ year |plus:1 }} Members</p>

    {% assign current_members = site.data.members | where_exp: "member", "member.class != 'alumnus'" %}
    {% assign former_members = site.data.members | where: "class", "alumnus" %}

    <div class="flex--wrap align-content-center justify-around">
        {%- for member in current_members -%}
        <div class="mx-4 my-3">
            <div class="overlay-container border-box shadow-drop">
                <!-- Accessibility hack -->
                <a {% if member.site != "" and member.site != nil %} href="{{member.site}}" {% endif %} title="{{ member.name }}" class="no-decoration" target="_blank">
                    <img src="/assets/images/members/{{ member.image }}" class="rounded--circle icon-10@md-below icon-14@lg icon-18@xl icon block" alt="{{ member.name }}" aria-hidden="true">
                </a> <!-- Accessibility hack -->
                
                <div class="overlay rounded--circle fade-in-out ">
                    <a {% if member.site != "" and member.site != nil %} href="{{member.site}}" {% endif %} title="{{ member.name }}" class="no-decoration" target="_blank">
                        <div class="column shadow-text-dark h-full justify-center align-content-center align-items-center">
                            <h4 class="light font-height-normal text-center mb-1 px-1 font-body@md-below">{{ member.name }}</h4>
                            <div class="px-2">
                                <p class="font-bold ma-0 light font-caption@md-below">{{ member.title }}</p>
                                <small class="font-bold@lg-above font-semibold@md-below font-italic light">{{ member.class }}</small>
                            </div>
                        </div>

                    </a>
                </div>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>