<article>
    <section>
        <h2 class="mb-3">{{ page.title }}</h2>
        <div class="column grow-0 justify-between align-items-baseline">
            <p class="hint mb-6 font-italic">{{ page.description }}</p>
            <div class="row align-items-center justify-between">
                <div class="row align-items-center">
                    <span class="hint">Authored by</span>
                    {% assign author_count = page.author | size %}
                    {% for author in page.author %}
                        <div class="inline-block {% if author_count > 2 %} mr-3 {% else %} mx-2 {% endif %}">
                            {% if forloop.index <= author_count and forloop.index > 1 and author_count > 2 %}<span class="hint text-pre">,  </span>{% endif %}
                            {% if forloop.index == author_count and forloop.index > 1 %}<span class="hint">and</span>{% endif %}
                        </div>
                        {% include components/member/member.html member=author name=true size="icon-3" show_name=true overlay=false %}
                    {% endfor %}
                </div>
                {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                <p class="font-normal hint mb-0">{{ page.date | date: date_format }}</p>
            </div>
        </div>
    </section>
    <div class="divider--horizontal mt-4 mb-5 bg-grey-light"></div>
    <section class="px-3@md-above text-justify">
        {{ content }}
    </section>
    <!--{% include components/rating.html %}-->
</article>
