<div class="row justify-end@lg-above justify-center@md-below align-items-center mt-4">
    <p class="mb-0 mr-2 font-medium">Was this page helpful?</p>
    <input type="checkbox" href="#" class="menu-check w-0" name="rate-good" id="rate-good"/>
    <label class="clickable pa-2" for="rate-good" title="Helpful">
        <i class="fas fa-thumbs-up"></i>
    </label>
    <input type="checkbox" href="#" class="menu-check w-0" name="rate-bad" id="rate-bad"/>
    <label class="clickable pa-2" for="rate-bad" title="Not helpful">
        <i class="fas fa-thumbs-down"></i>
    </label>
</div>