<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    function onSubmitGood(token) {
        document.getElementById("good-feedback-form").submit();
    }
    function onSubmitBad(token) {
        showThanks(true);
        document.getElementById("feedback-form").submit();
    }
</script>
<div class="column w-1/2">
    <div class="row--nowrap justify-end@sm-above justify-center@xs-below align-items-baseline mt-1">
        <p class="mb-0 mr-2 font-semibold caption text-nowrap">Was this page helpful?</p>
        <input type="checkbox" href="#" class="menu-check w-0" name="rate-good" id="rate-good" onclick="rate(true)"/>
        <label class="clickable pa-3 mr-1" for="rate-good" title="Helpful">
            <form id="good-feedback-form" name="simple-contact-form" class="w-3/4" action="https://formspree.io/xwkrrlrj" accept-charset="utf-8" method="post">
                <fieldset id="good-feedback-form-inputs">
                    <input type="hidden" name="_subject" id="good-feedback-subject" value="Positive feedback for {{include.slug}}!🎉">
                    <input type="hidden" name="message" value="Great work on this page! :tada:">
                    <i class="fas fa-thumbs-up" onclick="onSubmitGood()" tabindex="0"></i>
                </fieldset>
            </form>
        </label>
        <input type="checkbox" href="#" class="menu-check w-0" name="rate-bad" id="rate-bad" onclick="rate(false)"/>
        <label class="clickable pa-3 ml-1" for="rate-bad" title="Not helpful">
            <i class="fas fa-thumbs-down" tabindex="0"></i>
        </label>
    </div>
    <div class="row--nowrap justify-end@md-above justify-center@sm-below none" id="feedback-bad-container">
        <form id="feedback-form" name="simple-contact-form" class="w-3/4" action="https://formspree.io/xqkyypyp" accept-charset="utf-8" method="post">
            <fieldset id="feedback-form-inputs">
                <input type="hidden" name="_subject" id="feedback-subject" value="Wiki feedback on {{include.slug}}">
                <textarea placeholder="Will you help us improve?" autocomplete="off" required name="message" id="feedback" class="w-full" rows="2"></textarea>
            </fieldset>
        </form>
        <button class="g-recaptcha icon-4 pa-0 ml-2" type="submit" form="feedback-form"  data-sitekey="6LcyVq0ZAAAAABunjVJcV7zeLoEJN_5ieG_Onovk" data-callback="onSubmitBad"><i class="far fa-paper-plane"></i></button>
    </div>

    <div class="row--nowrap justify-end@md-above justify-center@sm-below align-items-center none" id="feedback-thanks-container">
        <small class="mr-1">Thank you for your feedback!</small>:tada:
    </div>
</div>
