<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">

      <header class="title">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    
        <h3 class="post-subtitle" style="margin-top: -10px;">{{ page.description | escape }}</h3>
      </header>

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
