---
layout: default
---

<div class="row--nowrap@lg-above column@md-below justify-center my-10@md-above my-5@sm-below px-10@md-above px-5@sm-below flex-container align-items-start@lg-above align-items-center@md-below">
    <div class="ml-12 none@md-below"></div>
    <div id="postVerticalSeparator" class="none@lg-above"></div>
    {% include components/post.html content=content %}
    <!-- total hack to center content -->
    <div class="none@lg-below w-0@lg-below w-35/100@xl-above wiki-shim"></div>
      <button 
    onclick="window.location.href = 'https://purdueusb.com/blog';">
        Read More Blogs
    </button>
</div>

