---
layout: default
title: Student Wiki
description: Locally sourced, organic wisdom. Shared by the student body, curated by USB.
---

<div class="row--nowrap@lg-above column@md-below justify-center my-10@md-above my-5@sm-below px-10@md-above px-5@sm-below flex-container align-items-start@lg-above align-items-center@md-below">
    <div class="w-full@md-below w-35/100@lg-above sticky@lg-above top-10@lg-above wiki-shim">
        {%- include nav/sidebar.html limit_height=true -%}
    </div>
    <div class="ml-12 none@md-below"></div>
    <div id="postVerticalSeparator" class="my-4 none@lg-above"></div>
    <div class="w-full@md-below textwidth@lg-above h-full">
        {% include components/post.html content=content %}
    </div>
    <!-- total hack to center content -->
    <div class="none@lg-below w-0@lg-below w-35/100@xl-above wiki-shim"></div>
</div>
