body, html {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
header {
    background: url('photos/IMG_9551.jpg');
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    line-height: 400px;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.text {
    max-width: 700px;
    margin: 40px auto;
    font-family: 'Georgia', serif;
    line-height: 1.6em;
}
